@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf');
}

@media only screen and (max-device-width: 640px) {
    #map, .fullscreen-control { display: none; }
    .year h3 { text-align: center; }
}

@media only screen and (max-device-width: 1080px) {
    table { table-layout: fixed; }
    .hideIfSimplified { display: none; }
    .utilitiesColumn { white-space: normal !important; }
}

.overlay ul li {
    display: table;
    margin: auto;
}

.overlay ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

body {
    min-width: fit-content;
}

#mainImage {
    text-align: center;
}

tr.greenRow {
    background: rgba(0, 255, 0, .5);
}

tr:hover.greenRow {
    background: rgba(0, 128, 0, .5);
}

tr.redRow {
    background: rgba(255, 0, 0, .5);
}

tr:hover.redRow {
    background: rgba(128, 0, 0, .5);
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    text-decoration: none;
    color: grey;
}

th a {
    text-decoration: none;
    color: white;
}

th a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
}

.mainMap {
    height: 480px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 0, 128);
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
}

table {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

tr:hover {
    background-color: rgb(230, 238, 245);
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
}

th {
    background-color: black;
    color: white;
}

th, td {                
    padding: 10px;
    text-align: center;
}

#tracking table {
    margin-top: 15px !important;
}

.centered {
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 10px;
}

table#gallery tr td img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 350px !important;
    margin: auto;
}

.tile { 
    width: 50vw;
    height: 33.333vh;
    line-height: 33.333vh;
}

#nearbyPlaces h4, #albums h4, #highlights h4 {
    margin-left: 15px;
}

#nearbyPlaces table, #highlights table {
    margin-top: 0;
}

input, option {
    text-align: center;
}

.component table {
    margin: 50px 0px;
    width: 100%;
}

.component .year table {
    margin: 7px 0px 20px 0px !important;
}

.year h3 {
    margin: 20px 15px 7px 15px;
}

.year h3 a {
    color: black;
}

#navigation table {
    margin-top: 20px;
}

#calendar table {
    table-layout: fixed;
}

#expensify tr:last-child:hover, #calendar tr:hover, #trips tr:last-child:hover, #navigation tr:hover, #utils tr:hover, #nextTrip tr:hover, tr.additionalRow:hover, .gallery tr:hover {
    background-color: white;
}

table#nextTrip { 
    table-layout: fixed;
}

#map, #mobileMap {
    margin-top: 10px !important;
    border-radius: 15px;
    min-height: 300px;
}

#map img, #mobileMap img {
    border-radius: 0px !important;
}

ul.tripFlags > li {
    display: inline-block;
    margin: 0 2px;
    position: relative;
    top: 7px;
}

#footer {
    font-size: 12px;
    color: grey;
    margin: 80px 0 20px 0;
    text-align: right;
}

#timezone {
    text-align: left !important;
}

#utilities {
    text-align: right !important;
}

.horizontal {
    display: flex;
}

#map, #mobileMap {
    margin-top: 20px;
}

.horizontal > div {
    flex: 1;
}

#footer, .horizontal:not(#footer) > div {
    margin: 0 15px;
}


#calendar > table {                
    margin: 50px 0px;
}

#info ul li {
    line-height: 150%
}

input, option, select {
    max-width: 100%;
}

h1 img {
    width: 150px;
}

h1 a, h2 a {
    color: black;
}

h1 a:hover, h2 a:hover {
    color: black;
}

#title {
    text-align: center;
    line-height: 200%;
}

#statistics ol, #problems ol {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

#utils ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#utils ul li {
    padding: 10px 0;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#footer ul li {
    float: right;
    margin-left: 15px;
}

#mainMenu table {
    margin-top: 20px;
    margin-bottom: 50px;
    table-layout: fixed;
}

.utilitiesColumn img {
    margin: 5px;
}

.utilitiesColumn { 
    white-space: nowrap; 
}

.forecast img, .fitness img {
    margin-bottom: 5px;
    max-width: 42px;
}

.forecast .temperature, .fitness .steps {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.forecast .details, .fitness .details {
    font-size: 80%;
}

.gm-style .controls {
  font-size: 28px; /* this adjusts the size of all the controls */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 300;
  height: 1em;
  margin: 6px;
  text-align: center;
  user-select: none;
  padding: 2px;
  width: 1em;
}

.gm-style .controls button {
  border: 0;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}

.gm-style .controls button:hover {
  color: rgba(0, 0, 0, 0.9);
}

.gm-style .controls.zoom-control {
  display: flex;
  flex-direction: column;
  height: auto;
}

.gm-style .controls.zoom-control button {
  font: 0.85em Arial;
  margin: 1px;
  padding: 0;
}

.gm-style .controls.maptype-control {
  display: flex;
  flex-direction: row;
  width: auto;
}

.gm-style .controls.maptype-control button {
  display: inline-block;
  font-size: 0.5em;
  margin: 0 1px;
  padding: 0 6px;
}

.gm-style .controls.maptype-control.maptype-control-is-map .maptype-control-map {
  font-weight: 700;
}

.gm-style .controls.maptype-control.maptype-control-is-satellite .maptype-control-satellite {
  font-weight: 700;
}

.gm-style .controls.fullscreen-control button {
  display: block;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon {
  border-style: solid;
  height: 0.25em;
  position: absolute;
  width: 0.25em;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-top-left {
  border-width: 2px 0 0 2px;
  left: 0.1em;
  top: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-top-left {
  border-width: 0 2px 2px 0;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-top-right {
  border-width: 2px 2px 0 0;
  right: 0.1em;
  top: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-top-right {
  border-width: 0 0 2px 2px;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-bottom-left {
  border-width: 0 0 2px 2px;
  left: 0.1em;
  bottom: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-bottom-left {
  border-width: 2px 2px 0 0;
}

.gm-style .controls.fullscreen-control .fullscreen-control-icon.fullscreen-control-bottom-right {
  border-width: 0 2px 2px 0;
  right: 0.1em;
  bottom: 0.1em;
}

.gm-style .controls.fullscreen-control.is-fullscreen .fullscreen-control-icon.fullscreen-control-bottom-right {
  border-width: 2px 0 0 2px;
}

.albumWrapper {
  position: relative;
  width: 350px;
  height: 233px;
  margin: auto;
}

.albumWrapper img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(100%);
}

.albumWrapper img:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.overlay {
  position: absolute; 
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(0,212,255,0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  border-collapse: collapse;
  border-radius: 0 0 1em 1em;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 170%;
}
