RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
RewriteCond %{HTTP:X-Goog-Channel-Token} ^(.+)$
RewriteRule .* - [E=GOOG_CHANNEL_TOKEN:%1]

RewriteRule ^iam/?$ iam.php [L,QSA]
RewriteRule ^iam/(.+)$ $1 [L,QSA]

RewriteRule ^ index.php [QSA,L]
