@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
}

@layer components {
    .btn-pill {
        @apply inline-flex items-center space-x-2 rounded-full bg-white/80 backdrop-blur-sm px-3 py-2 text-sm font-medium text-black shadow-md transition-colors hover:bg-gray-100;
    }

    .btn-chip {
        @apply inline-flex items-center space-x-2 rounded-full bg-white/80 backdrop-blur-sm px-3 py-1 text-sm font-medium text-black shadow-md transition-colors hover:bg-gray-100;
    }

    .btn-icon {
        @apply inline-flex items-center justify-center rounded-full p-[2px] transition-colors hover:bg-gray-200;
    }

    .btn-ghost {
        @apply inline-flex items-center justify-center p-1 rounded transition-colors hover:bg-gray-100;
    }

    .btn-ghost-danger {
        @apply inline-flex items-center justify-center p-1 rounded text-red-800 transition-colors hover:bg-gray-100;
    }

    .btn-ghost-warning {
        @apply inline-flex items-center justify-center p-1 rounded text-orange-600 transition-colors hover:bg-gray-100;
    }

    .btn-ghost-success {
        @apply inline-flex items-center justify-center p-1 rounded text-green-600 transition-colors hover:bg-gray-100;
    }

    .link-hover {
        @apply hover:underline transition-colors duration-200;
    }
}

.prose a {
  @apply text-blue-600 underline hover:text-blue-800;
}