target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr

### VSCode ###
.vscode/*
*.code-workspace

*.log
.temp*
/health.txt
/readiness.txt

.DS_Store
