<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <timestampFieldName>datetime</timestampFieldName>
            <fieldNames>
                <timestamp>datetime</timestamp>
                <version>[ignore]</version>
            </fieldNames>
            <customFields>{"channel":"agent"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
